QMainWindow, QAbstractItemView  { /*Background*/
    background-color: rgb(27, 27, 28);
    margin: 2px;
}

QMenuBar { /*Top bit*/
    background-color: rgb(30, 36, 40);
}

QMenuBar::item { /*File, etc*/
    background-color: rgb(30, 36, 40);
    color: #FFF;
}

QMenuBar::item:selected {
    background-color: rgb(36, 42, 47);
}

QMenu { /*Drop down menu*/
    background-color: rgb(44, 44, 44);
    color: #FFF;
}

QMenu::item:selected {
    background-color: rgb(53, 53, 53);
}

#toolbar {
    background-color: rgb(37, 45, 51);
    padding: 3px;
}

#toolbar::item { /*Object buttons*/
    background-color: rgb(37, 45, 51);
    padding: 5px;
    margin: 2px;
}

#toolbar::item:selected {
    border-bottom: 2px solid rgb(15, 63, 128);
    padding-bottom: 3px;
}

QLabel {
    color: #FFF;
}

QTableView, QTreeWidget { /*Panel things*/
    background-color: rgb(31, 33, 35);
    alternate-background-color: rgb(35, 37, 39);
    border: 1px solid rgb(35, 35, 35);
    border-radius: 2px;
    color: #FFF;
}

QHeaderView::section {
    background-color: rgb(30, 36, 40);
    color: #FFF;
    border: none;
    padding: 4px;
}

QStatusBar::item {
    border: none;
}